<ActionBar title="nativescript-shadowed-label" class="action-bar"> </ActionBar>
<StackLayout class="p-20">
	<ScrollView class="h-full">
		<StackLayout>
			<ShadowedLabel class="h1 text-center" text="title with CSS shadow" ></ShadowedLabel>
			<ShadowedLabel text="color shadow" textShadow="2 10 4 rgb(255, 100, 100)" fontStyle="italic" fontSize="40" class="m-b-20 text-center" ></ShadowedLabel>
			<ShadowedLabel class="m-t-20 c-black" style="text-shadow: 1 1 1 #55a" textWrap="true" text="Shadow in 'style'!" ></ShadowedLabel>
		</StackLayout>
	</ScrollView>
</StackLayout>